.TaskList {
    height: 100%;
    margin: 0;
    padding: 24px;
    list-style: none;
    gap: 12px;
    display: flex;
    flex-flow: column nowrap;
    overflow: scroll;
}

.Task {
    border: 1px solid rgba(128, 128, 128, .15);
    box-shadow: 0 6px 8px -8px gray;
    border-radius: 8px;
    padding: 12px;
    display: flex;
    flex-flow: column nowrap;
    gap: 12px;
    /* position: relative; */
}

.Task_Status_Title_Container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.TaskStatus {
    content: '  ';
    position: relative;
    padding: 0;
    margin: 0;
    font-size: .75em;
    padding: 4px 8px;
    border-radius: 4px;
}

.TaskStatusDue {
    background-color: rgba(255, 0, 0, .1);
}

.TaskStatusDone {
    background-color: rgba(0, 128, 0, .1);
}

.TaskTitle {
    font-size: large;
    padding: 0 12px;
    text-transform: uppercase;
}

.TaskDescription {
    font-size: small;
}

.TaskTimeLines {
    display: flex;
    flex-flow: row wrap;
    gap: 12px;
    justify-content: space-between;
    font-size: small;
    padding: 12px 0;
}

.DueDate,
.CreateDate {
    flex: 0 0 auto;
    padding: 12px 8px;
    position: relative;
}

.DueDate {
    border-radius: 8px;
    border: none;
    border-bottom: 1px solid rgba(128, 128, 128, .5);
    font-weight: bold;
}

.CreateDate {
    opacity: .5;
}

.DueDate::before,
.CreateDate::before {
    position: absolute;
    top: -8px;
    left: 20px;
    font-weight: normal;
}

.DueDate::before {
    content: 'due';
}

.CreateDate::before {
    content: 'created on -';
}

.Task_Action_Button_Container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 0 12px;
    gap: 12px;
    align-items: center;
}

.Task_Action_Button {
    flex: 1 1 auto;
    padding: 4px;
    font-size: .75rem;
    color: white;
    border-radius: 8px;
    text-align: center;
    height: 1.5rem;
    transition: all .5s 200ms;
    cursor: pointer;
    text-decoration: none;
}

.Task_Action_Button:hover {
    box-shadow: 0 0 4px gray;
    height: 1.75rem;
}

.Action_Update {
    background-color: orange;
}

.Action_Delete {
    background-color: red;
}

.Inactive_Task_Update_Container {
    visibility: collapse;
    display: none;
}

.Task_Update_Container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 3;
    backdrop-filter: blur(12px);
}

.Task_Update_Cancel_Wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 5;
}

.Task_Update_Wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
